
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
   background: linear-gradient(135deg, #3a1c1c, #6b2e2e);
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  text-align: center;
}


nav a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 0 15px;
  
}

.hero {
  background: #ffffff;
  padding: 30px;
  border-radius: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  text-align: center;
  padding: 12px;
  border-radius: 18px;
  flex: 1 1 250px;
}

footer {
   background: linear-gradient(135deg, #3a1c1c, #6b2e2e);
  color: #c3c3c3;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

.textqw {
  color:#fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.colored-text {
  color: green;
  font-weight: bold;
}

.mybutton {
   background: linear-gradient(135deg, #3a1c1c, #6b2e2e);
  color: white;           
  border: none;              
  padding: 10px 20px;        
  border-radius: 5px;        
  cursor: pointer; 
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;          
}

.mybutton:hover {
  background-color: #441d1d; /* цвет при наведении */
}